<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="body" style="background-color: #E85A4F;">
        <div class="email-body-container" style="display: flex; justify-content: center;">
            <div id="email-body-text" style="color: #e9e7dc; text-align: center;">
                Jeg har en ny udstilling på vej!
                <br>
                Kig ind på <a href="">Galleri Taulo</a> for flere informationer
            </div>
        </div>
    </body>
</html>