<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="WelcomeEmailBody.css"> -->
        <title>Document</title>
    </head>
    <body class="body" style="background-color: #E85A4F;">
        <div class="email-body-container" style="display: flex; justify-content: center;">
            <div id="email-body-text" style="color: #e9e7dc; text-align: center;">
                Tak for at du abonnerede til mit Nyhedsbrev.
                <br>
                <!-- Du vil være blandt de første til at høre om mine nye udstillinger, nyheder osv.  -->
                - du kan se frem til at være blandt de første til at modtage mine opkommende udstillinger samt andre spændende nyheder.
                <br>
                <br>
                I mellemtiden er du altid velkommen til at besøge <a href="localhost:3000">Galleri Taulo</a>.
            </div>
        </div>
    </body>
</html>