:root {
    --main-img-width: 100%;
    --main-img-height: 50%;
}

.main-list-container {
    display: flex;
    flex-direction: column;
    background-color: var(--header-background-color);
    padding-top: 100px;
    padding-bottom: 200px;
    height: var(--main-img-height);
    align-content: space-between;
    width: 100%;
    font-family: 'Kalam', cursive;
    justify-content: center;
    height: 50%;
}

.main-text-container {
    margin-right: 130px;
}

#main-text-title {
    font-size: 55px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: 900;
    color: var(--header-footer-text-color);
    text-align: center;
}

.main-list {
    display: flex;
    justify-content: center;
    border-radius: 1px;
    outline-offset: 15px;
    margin: 0px;
    padding: 0px;
}


.main-img-items {
    opacity: 1;
    height: var(--main-img-height);
    width: var(--main-img-width);
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 70px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 400px) {
    .main-img-items {
        height: calc(var(--main-img-height) - 500px);
        width: calc(var(--main-img-width) - 500px);
    }
}

.main-img-items:hover {
    padding: 0px;
    /* opacity: 0.7; */
    cursor: pointer;
}

@keyframes fading-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


