.main-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    box-shadow: inset 2px 5px 20px #555;
}

.about-container {  
    display: flex;
    align-items: flex-start;
    height: auto;
    width: 60%;
    flex-direction: column;
    margin-bottom: 40px;
}

#about-title {
    color: var(--header-background-color);
    font-size: 100px;
    align-self: center;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: 700;
}

#about-text {
    color: var(--element-text-color);
    font-size: 25px;
    font-family: 'Kalam', cursive;
    font-weight: 400;
}

#about-text-spacing {
    height: 20px;
}