.filter-neweste-btn-container {
    position: fixed;
    justify-self: flex-end;
    align-self: flex-end;
    right: 105px;
    width: 100px;
}

#filter-neweste-btn-card {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

#filter-newest-btn-icon {
    width: 50px;
    height: 50px;
    color: var(--element-background-color);
}

#filter-newest-btn-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

#filter-neweste-btn-text {
    text-align: center;
    font-family: 'Yeseva One';
}

.filter-neweste-box-container {
    background-color: var(--element-background-color);
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    transform-origin: top center;
}


#filter-neweste-box-items > * {
    display: block;
    padding: 15px;
    border-bottom: 3px solid var(--header-background-color);
    font-family: 'Kalam', cursive;
    color: var(--element-text-color);
}

#filter-neweste-box-items :last-child {
    border-bottom: none;
}

#filter-neweste-box-items > *:hover {
    color: var(--footer-background-color);
    cursor: pointer;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
    100% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    0% {
        transform: scaleY(1)
    }
}